.ui-full-width-filter {
	width: 100% !important;
}

.ui-full-width-filter input {
	width: 100% !important;
}

.hide-filters .ui-column-filter {
	display: none !important;
}

.hide-filters .ui-column-customfilter {
	display: none;
}
